/*Fonte er indsat efter googles egen vejledning- der forefindes her https://fonts.google.com/knowledge/using_type/using_web_fonts
*/
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/*Variabler*/
:root {
    --backgroundColor:#FCFCFC ;
    --primaeryCTA:#1C009D ;
    --secondaryCTA: #F9B000;
    --cardsColor: #006784;
    --textColor: #00222E;
    /* husk at få spaceing varialbel ind her også */

    /* Fontsizes */
    --H1_Desktop: 2.625rem;
    --H2_Desktop: 2rem;
    --H3_Desktop: 2rem;
    --body_text_Desktop: 1rem;

    --H1_Mobil: 1.25rem;
    --H2_Mobil: 1.25rem;
    --H3_Mobil: 1rem;
    --body_text_Mobil: 0.75rem;

    /* Spacing */
    --Section_Desktop: 8rem;
    --Elements_Desktop: 4rem;
    --Small_Elements_Desktop: 2rem;

    --Section_Mobil: 2.25rem;
    --Elements_Mobil: 1.25rem;
    --Small_Elements_Mobil: 1rem;
}

/* Generel styling */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
a,
button {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: var(--textColor);
}
h1,h2,h3{
    padding-bottom: 8px;
}
p{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--textColor);
    font-size: var(--body_text_Mobil);
}
.pTegnAntal {
    max-width: 65ch;
    width: 100%;
}
/*  */
/* på mobil */
/*  */
.sectionContent{
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: var(--Elements_Mobil);
}
h1 {
    font-size: var(--H1_Mobil);
}
h2, h3{
    font-size: var(--H2_Mobil);
}

/* knapper */
.buttonsecondary{
    border-radius: 100px;
    padding: 0.7rem 2rem 0.7rem 2rem;
    background-color: var(--secondaryCTA);
    text-decoration: none;
    color: var(--textColor);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.buttonsecondaryFrontpage {
    border-radius: 100px;
    padding: 0.7rem 2rem 0.7rem 2rem;
    background-color: transparent;
    text-decoration: none;
    color: var(--textColor);
    border: solid 2px var(--secondaryCTA);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.primaeryCTA{
    border-radius: 100px;
    text-decoration: none;
    background-color: var(--primaeryCTA);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: white;
    padding: 0.7rem 2rem 0.7rem 2rem;
    
}
#primaeryCTAsvg{
    vertical-align: middle;
    margin-right: 5px;
    fill: white;
}
img{
    border-radius: 15px;
}
/*  */
/* mobil slut */
/*  */

/*  */
/* på desktop */
/*  */
@media screen and (min-width: 1100px){
    h1{
        font-size: var(--H1_Desktop);
    }
     h2, h3{
    font-size: var(--H2_Desktop);
    }
    p{
        font-size: var(--body_text_Desktop);
    }
    
}
/*  */
/* NAV */
/*  */
header{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    max-height: 5.5rem;
}
#logo{
   
    max-height: 85px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--Elements_Desktop);
    max-width: 1200px;
    margin: 0 auto;   
}

.globalNav {
    display: flex;
    
}
.globalNav a{
    text-decoration: none;
    color: var(--textColor);
}

#menu{
    display: none;
}

.navcontainer ul {
    display: flex;
    gap: 2rem;
}
.navcontainer li{
    list-style-type: none;
}
.dropdownIndhold {
    display: none;
    flex-direction: column; /*Sikre at indholdet i dropdown menuen står under hinanden*/
    /* sørger for at dropdown indholdet placeres i toppen lige under button */
    position: absolute; 
    top: 100%;
    right: -20%;
    /*  sørger for at indholdet følger knappens bredde*/
    width: 120%;
    /* z-index så indholdet bliver lagt ovenpå andet i hero sektionen */
    z-index: 100; 
    background-color: var(--backgroundColor);
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.dropdownLinks a{
    padding-bottom: 0.5rem;
}
/* sikre at dropdown åbner lige under knappen */
.dropdown{
    position: relative;
}



/* dropdownIndholdet får tilføjet class show, som er display flex, istedet for none. Derved vises indholdet af links. */
.show{
    display: flex;
}

/* styling af button så den ligner de andre links i navigationen */
.dropbtn{
    background-color: var(--backgroundColor);
    font-size: 1rem;
    padding: 0;
    border: none;
    color: var(--textColor);
    /* sikre at pilen/svg stiller sig på samme linje som linket */
    svg{
        vertical-align: middle;
        fill: currentColor;
    }
}
/* mobil NAV */
@media screen and (max-width: 900px){
    /* gør så burgermenu bliver synlig under 768px, samt den globale navigation skjules */
    #menu{
        display: flex;
        z-index: 100;
        border: none;
        background-color: var(--backgroundColor);
    }
    

    .globalNav{
        display: none;
    }
    /* sikre når class tilføjes så bliver den globale navigation synlig (når der trykkes på brugermenu tilføjes denne class ved hjælp af js */
    .globalNav.active{
        display: flex;
        
    }
    .navcontainer ul{
        flex-direction: column;
        position: absolute;
        right: 0%;
        top: 0%;
        width: 100%;
        background-color: var(--backgroundColor);
        z-index: 100;
        padding-top: var(--Elements_Mobil);
        padding-bottom: var(--Elements_Mobil);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    }
    .dropdownIndhold{
        position: relative;
        width: 100%;
        box-shadow: none;
        right: 0%;
    }

    .dropdownLinks a{
        text-decoration: underline;
        padding-left: var(--Small_Elements_Mobil);
    }

    /* animation af burgermenu til et kryds */
    #linje1, #linje2, #linje3{
        transition: transform;
        /* fortæller at animationen skal ske fra midten af svg */
        transform-origin: center;
    }
    /* linje 1 der er en steg beder vi om at rotere med 45grader */
    #menu.active #linje1{
        transform: translateY(9.5px) rotate(45deg);
    }
          /*gør linje 2 usynlig, da der skal laves et kryds*/
          #menu.active #linje2 {
              opacity: 0;
          }
         #menu.active #linje3 {
        transform: translateY(-9.5px) rotate(-45deg);
    }
}



/*  */
/* Forsiden */
/*  */
#heroImageFrontpage{
    /* max-width: 584px; */
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}
.btnFrontpage{
    /* sætter inline-block til a da det er et inline element og derfor virker margin ikke */
    display: inline-block;
    margin-top: var(--Elements_Mobil);
}
.buttonsecondaryFrontpage{
    margin-left: var(--Small_Elements_Mobil);
}
/* søger for at den nederst knap ikke bliver rykket ind på små skærme */
@media screen and (max-width: 376px){
    .buttonsecondaryFrontpage {
            margin-left: 0;
        }
}

.heroSection{
    margin-top: var(--Elements_Mobil);
    margin-bottom: var(--Section_Mobil);
    /* display: flex;
    flex-direction: column; */
    
}


#tekstPFrontHero{
    font-size: 1.25rem;
}
#lyslivTekst, #tekstPFrontHero{
    font-size: var(--body_text_Mobil);
}

#lyslivTekst{
    font-style: italic;
    font-weight: 500;
    font-size: var(--body_text_Desktop);
    color: #875D00;
    padding-bottom: var(--Elements_Mobil);
   
}
/* ønsker ikke pilen på mobil - her er det tydeligt at man kan scroll længere ned */
.arrowdown{
    display: none;
}
/* har fjernet margin-left efter hjælp fra co-pilot se prompt i rapporten. Fandt ud af at margin skubbede til indholdet. Jeg har derfor sat padding-right på teksten istedet for, da jeg har anvendt  box-sizing: border-box; på det hele  */
 .imgSection img {
     height: auto;
     width: 100%;
     display: block;
     object-fit: cover;
     border-radius: 15px;
    }
.SectionIntroFrontpage{
    margin-top: var(--Section_Mobil);
    margin-bottom: var(--Section_Mobil);
}
.tekstIntroFrontpage{
    padding-bottom: var(--Elements_Mobil);
}
@media screen and (min-width: 1020px) {
    .heroSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: var(--Elements_Desktop);
            margin-bottom: var(--Section_Desktop); 
        }
        
    .tekstHero{
        max-width: 30rem;
        margin-right: 8.5rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #heroImageDiv{
        grid-column: 2 / 3;
    }
        #lyslivTekst {
            font-size: 1.5rem;
            padding-bottom: var(--Elements_Desktop);
            padding-top: 0.75rem;
                }
     #tekstPFrontHero{
            font-size: 1.25rem;
}
.buttonsecondaryFrontpage {
    margin-left: var(--Small_Elements_Desktop);
}

.arrowdown{
    display: block;
    fill: var(--textColor);
    position: relative;
        top: 0%;
        /* afstand fra toppen */
        left: 145%;
        transform: translateX(-50%);
        animation: bounce 1.5s infinite;
        
    }
    
    /* Pil-ned animation */
    @keyframes bounce {
        0% {
            transform: translate(-50%, 0);
        }
    
        50% {
            transform: translate(-50%, 10px);
        }
    
        100% {
            transform: translate(-50%, 0);
        }
    }

    .SectionIntroFrontpage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: var(--Section_Desktop);
        margin-bottom: var(--Section_Desktop);
        
    }
   
        .tekstIntroFrontpage{
            padding-right: var(--Elements_Desktop);
        }
}



/* Aktiviteter sektion på forsiden */
.cardsFrontpage{
    width: 100%;
    min-height: 486px;
    min-width: 250px;
    position: relative;
    /* sikre at indhold bliver skjult så der ikke opstår en scollbar på cards */
    overflow: hidden;
    
    
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        
    }
    a{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        text-decoration: none;
        scroll-snap-align: start;
        
    }
}

.cardsIndhold{
    /* sætter indholdet til absolute for at få det placeret ovenpå billedet, bottom 0 placere det i bunden */
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 12rem;
    padding-inline: var(--Small_Elements_Mobil);
    /* padding-bottom: var(--Small_Elements_Mobil); */
    padding-top: var(--Small_Elements_Mobil);
    background: rgba(20, 122, 143, 0.85);
    .buttonsecondary{
        margin-top: var(--Elements_Mobil);
        
    }
    
}
.pcards{
    color: white;
    
}
.cardwrapper{
    display: flex;
    gap: 2rem;
    /* scroll på mobil kilder:
     https://www.w3schools.com/CSSref/css_pr_scroll-snap-type.php 
     https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/
     */
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    
    -webkit-overflow-scrolling: touch;
    margin-top: var(--Small_Elements_Mobil);
    
}
.cardsSection {
    margin-bottom: var(--Section_Mobil);
}


@media screen and (min-width: 1020px) {
.cardsSection{
    margin-bottom: var(--Section_Desktop);
}
.cardsFrontpage {
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
    width: 378px;
}

.cardwrapper{
    margin-top: var(--Small_Elements_Desktop);
}

}

/* sektion giv et bidrag */
.tekstvedBilledeSektion{
    padding-top: var(--Elements_Mobil);
}
/* sat display inline- block efter hjælp fra co-poilot, se rapport for prompt */
.BtnvedBilledeSektion{
    margin-top: var(--Elements_Mobil);
    display: inline-block;
    margin-bottom: var(--Elements_Mobil);
}
/* gør billedet responsivt, højde justeres automatisk men billedet fylder hele bredden */
#ImageDivBidrag{
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
}
@media screen and (min-width: 1020px){
    .tekstvedBilledeSektion {
        padding-top: var(--Elements_Desktop);
    }
    /* sat display inline- block efter hjælp fra co-poilot, se rapport for prompt */
    .BtnvedBilledeSektion {
        display: inline-block;
        margin-top: var(--Elements_Desktop);
    }
    .BidragSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: var(--Elements_Desktop);
        margin-bottom: var(--Section_Desktop);
    }
    
    .tekstbidrag {
        max-width: 30rem;
        margin-right: 8.5rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    #ImageDivBidrag {
        grid-column: 2 / 3;
    }
}
/**/
/* Footer */
/*  */
footer{
    padding-inline: var(--Elements_Mobil);
    padding-top: var(--Section_Mobil);
    background-color: #F6F6F6;
    padding-bottom: var(--Elements_Mobil);
    a{
        font-size: var(--body_text_Mobil);
    }
    p{
        padding-top: var(--Elements_Mobil);
    }

}
#logofooter img{
    width: 100px;
    padding-top: var(--Elements_Mobil);
    padding-bottom: var(--Elements_Mobil);
}
@media screen and (min-width: 1020px){
    .footerDiv{
        display: flex;
        align-items: flex-start;
        gap: 8rem;
    }
    p {padding-bottom: var(--Elements_Mobil);
    }
    
}